.swiper-slide-prev,
.swiper-slide-next {
    transform: rotateY(-15deg) scale(0.85);
    opacity: 0.6;
    transition: all 0.5s ease;
}

.swiper-slide-next {
    transform: rotateY(15deg) scale(0.85);
    opacity: 0.6;
    transition: all 0.5s ease;
}

.swiper-slide-active {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    opacity: 1;
    z-index: 10;
}